# package
*.jar

# eclipse
.classpath
.project
.metadata/
.settings/
bin/

# gradle
.gradle/
build/

# custom
.build/
*.log*

# lwjgl mucking about
/lwjgl3/*
!/lwjgl3/build.gradle
!/lwjgl3/ant-delegate*
