# package
# *.jar

# eclipse
.classpath
.project
.metadata/
.settings/
.recommenders/
bin/
.factorypath
/**/.gitignore

# gradle
.gradle/
build/
libs/

# custom
.build/
*.log*

# lwjgl mucking about
/lwjgl3/*
!/lwjgl3/build.gradle
!/lwjgl3/ant-delegate*

# wrapper
!/gradle/wrapper/gradle-wrapper.jar
