language: java
jdk:
- openjdk7
- oraclejdk7
before_install:
- echo "JAVA6_HOME=$(jdk_switcher home jdk6)" >> gradle.properties
- cat gradle.properties
after_success:
- gradle travisRelease
env:
  secure: C9Ai91c5zEUOsrF/clhpQBbgu+wK91fdWpO7PWrhFmT09gOPXompI1SHz3iN3RCtJ2WLu1KMmuQe9vz8RkyRib6vHcPGDAi9Nwi0tyb5heQ3GobYm/hb1zEFSyeMuj14mA6WtjrfR1MrCT5uo4mZ/eK1tVjLed2ZDuuF5mt4rMo=
